//COLORS
$primary: white;
$secondary: red;
$terziary: black;
$quaternary: rgb(105, 170, 83);
$quintenary: rgb(146, 167, 195);
$sextenary: #929aa3;
$septenary: #7799ad;
$octarium: #7abc64;

// FONT MULISH
$main-font: 'Mulish Variable', sans-serif;
